.login-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: rgb(236, 246, 255);
  margin-right: 10px;
  cursor: pointer;
  z-index: 6;
  /* background-color: salmon; */
}

.burger-bar {
  width: 80%;
  height: 10%;
  /* background-color: rgb(236, 246, 255); */
  /* background-color: rgb(254, 0, 47); */
  background-color: rgb(14, 31, 45);
  margin: 2px;
  border-radius: 2px;
}

.login-button:hover .burger-bar{
  background-color: rgb(254, 0, 47);
}

