.sidebar-burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  /* color: rgb(236, 246, 255); */
  margin-top: 10px;
  cursor: pointer;
  z-index: 6;
  /* background-color: salmon; */
}

.burger-bar {
  width: 80%;
  height: 4px;
  /* background-color: rgb(236, 246, 255); */
  /* background-color: rgb(254, 0, 47); */
  background-color: rgb(14, 31, 45);
  margin: 2px;
  border-radius: 1px;
  transition: all .15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.burger-bar.menu{
  background-color: white;
}

.login-button:hover .burger-bar{
  background-color: rgb(254, 0, 47);
}


#bar-1.is-active {
  transform: translateY(8px) rotate(45deg);
  /* transform: rotate(45deg); */
}

#bar-2.is-active {
  opacity: 0;
}

#bar-3.is-active {
  transform: translateY(-8px) rotate(-45deg);
}


/*  Menu Icon  */
.menu-icon {
  display: flex;
  width: 80%;
  height: 40px;
}

#menu-top {
  width: 100%;
  height: 6px;
  background-color: white;
}
#menu-right {
  width: 4px;
  height: 100%;
  background-color: white;
}
#menu-left {
  width: 4px;
  height: 100%;
  background-color: white;
}
#menu-bottom {
  width: 100%;
  height: 4px;
  background-color: white;
}

/* Check Icon */
.sidebar-check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  cursor: pointer;
  
  /* padding-right: 10px; */
}

.check-bar {
  height: 4px;
  background-color: white;
  border-radius: 1px;
  transition: all .15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#check-bar-1 {
  position: relative;
  transform: rotate(30deg);
  left: 9px;
  top: 8px;
  width: 30px;
}

#check-bar-2 {
  position: relative;
  transform: rotate(-60deg);
  width: 50px;
}

/* .sidebar-check.is-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.check-bar.is-active {
  margin: 2px;
}

#check-bar-1.is-active {
  position: relative;
  top: 0px;
  left: 0px;
  width: 32px;
  transform: translate(10px) rotate(45deg) scale(2, 1);
}

#check-bar-2.is-active{
  width: 32px;
  transform: translate(-10px) rotate(-45deg) scale(2, 1);
}