.links {
  height: 100px;
  width: 100%;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  text-align: center;
  margin-right: 7%;
  margin-left: 15%;

  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.links:hover {
  background-color: lightgrey;
  color: white;
}

.profile,
.cards,
.settings {
  background-color: lightgrey;
  height: 1000px;
  width: 100%;
}
