h1 {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
}

.dashboard-container {
  width: calc(100vw - 66px);
  position: absolute;
  left: 66px;
}

.projects-container {
  justify-content: center;
}

.projects-container-inner {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: auto;
}

.create-item {
  background-color: rgba(220, 220, 220, 0.516) !important;
  box-shadow: none !important;
  /* transition: background-color .1s ease; */
}

.create-item:hover {
  background-color: rgba(144, 148, 159, 0.516) !important;
}

.add-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  background-color: rgb(220, 220, 220);
  border-radius: 50px;
}

.add-circle span {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.541);
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 110px;
  width: 280px;
  background-color: rgb(144, 148, 159);
  border-radius: 5px;
  /* box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.15); */
  cursor: pointer;
  color: rgb(255, 255, 255);
  /* transition: background-color .1s ease; */
}

.project-card:hover {
  background-color: rgb(118, 123, 136);
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.15);
}

.card-header {
  position: absolute;
  top: 3px;
  left: 8px;
  height: 30px;
  width: 80%;
  margin: 0 auto;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 20px;
  /* letter-spacing: 1px; */

}

.projectToolTip {
  position: absolute;
  left: 200px;
  top: 130px;
  border: 2px solid blue;
  width: 140px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
}

.personal-board-container {
  margin-top: 10px;
}
.collab-board-container {
  margin-top: 50px;
}
