.color-picker{
    position: absolute;
    top: 7px;
    right: 0px;
    width: 18px;
    height: 20px;
    cursor: pointer;
}

.menu-dot {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.625);
    margin-top: 2px;
    margin-left: auto;
    margin-right: 6px;
}

.color-box{
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0px;
    right: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(231,231,231);
}
.colors-to-pick{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: blue;
    cursor: pointer;
}
.color-holder{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

