body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(242, 242, 242);

}

.container {
  display: flex;
  width: 90%;
  height: calc(100vh - 66px);
  margin: 0 auto;
}